<next-pre-buttons [previousLink]="previousLink" [nextLink]="nextLink"></next-pre-buttons>
<div class="header">
    <h2 class="titlePage">Safety</h2>
</div>
<div class="ml-5 mr-5">
    <div class="row d-block text-center text-white mb-5">
        <h3>{{ localTranslation.title }}</h3>
        <h4>Monthly HSE walkthrough result</h4>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="text-center text-white lines">
                <tr>
                    <th rowspan="2" class="align-middle" style="width: 8rem;">
                        {{year}}
                        <br />
                        {{month}}
                    </th>
                    <th rowspan="2" class="align-middle">
                        {{ localTranslation.category }}
                        <br />
                        Evaluetion Category
                    </th>
                    <th rowspan="2" class="align-middle" style="width: 10rem;">
                        {{ localTranslation.weight }}
                        <br />
                        Weight
                    </th>
                    <th [colSpan]="lines?.length">
                        {{ localTranslation.achievement }} / Achievement
                    </th>
                <tr>
                    <th style="width: 5rem;" *ngFor="let item of lines">{{item}}</th>
                </tr>
            </thead>
            <tbody class="bg-white text-dark">
                <tr *ngFor="let item of evaluetions; let i=index" class="text-center">
                    <td class=" align-middle">{{i + 1}}</td>
                    <td class=" align-middle">
                        {{item?.item_Name}}
                        <br />
                        <span class="nameLL">{{item?.item_Name_LL}}</span>
                    </td>
                    <td class=" align-middle">
                        {{item?.target}}
                    </td>
                    <ng-container *ngFor="let achie of item?.achievements">
                      <td *ngIf="achie?.item_ID === null" class="align-middle none-score">
                          {{achie?.score}}
                      </td>
                      <td *ngIf="achie?.isPass && achie?.item_ID !== null" class="align-middle">
                          {{achie?.score}}
                      </td>
                      <td *ngIf="!achie?.isPass && achie?.item_ID !== null" class="score-un-pass align-middle"
                          (click)="[getDetailScoreUnPass(achie?.hsE_Score_ID), imageModal.show()]">
                          {{achie?.score}}
                      </td>
                    </ng-container>
                    <ng-container *ngIf="item?.achievements.length === 0 && i === 0">
                      <td [attr.rowspan]="evaluetions.length" class="align-middle none-score">
                        <p>No Available Lines (Working Hour > 0)</p>
                      </td>
                    </ng-container>

                </tr>
                <tr *ngIf="evaluetions?.length < 1">
                    <td colspan="100%" class="table-warning text-center font-weight-bold text-dark">
                        NO DATA!
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Image and Remark -->
<div class="modal fade" bsModal #imageModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Event mouseover - mouseout -->
                <div [ngClass]="{'box-no-image': imageDetail?.noImage}" class="image-box" (mouseover)="hideButton = false" (mouseout)="!hideButton = true">
                    <!-- Previous - Next function -->
                    <i [ngClass]="{'hidden': (hideButton || totalImage < 2), 'opening': (!hideButton && totalImage > 1)}"
                        class="fa fa-angle-double-left prev-image" (click)="prevImage(imageDetail?.index)">
                    </i>
                    <i [ngClass]="{'hidden': (hideButton || totalImage < 2), 'opening': (!hideButton && totalImage > 1)}"
                        class="fa fa-angle-double-right next-image" (click)="nextImage(imageDetail?.index)">
                    </i>
                    <!-- Image -->
                    <img *ngIf="!imageDetail?.noImage" src="{{imageDetail?.image_Path}}">
                    <span *ngIf="imageDetail?.noImage" class="no-image-upload">No Image Uploaded</span>
                </div>
                <div class="image-remark bg-dark mt-3">
                    <!-- Remark -->
                    <div class="remark">
                        {{imageDetail?.remark}}
                    </div>
                    <hr class="line-bottom">
                    <!-- Index image / Total image -->
                    <div *ngIf="totalImage > 0" class="text-center d-flex justify-content-center">
                        <p class="text-warning mr-2">{{imageDetail?.index}}</p>
                        /
                        <p class="text-success ml-2">{{totalImage}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

