<next-pre-buttons [nextLink]="nextLink"
  [previousLink]="previousLink"></next-pre-buttons>
<h2 class="titlePage">Kaizen</h2>

<div class="animated fadeIn">
  <div class="col-lg-12">
    <button href="#" class="btn btn-primary mr-2" type="button"
      (click)="redirectToKaizenSystem()">KAIZEN SYSTEM</button>
  </div>
  <div class="col-lg-12">
    <div class="card-body container">

    </div>
  </div>
</div>

<!-- <img src="assets/img/tmpic/kaizen.png" style="margin: auto; display: block" /> -->