<div class="animated fadeIn">
    <!-- --------------------------------- ABOUT --------------------------------- -->
    <div class="card">
        <div class="card-body">
            <div class="row mt-1" id="about-session">
                <div class="col-md-4 ">
                    <img class="img-fluid" src="/assets/images/treelife.jpg" alt="">
                </div>

                <div class="col-md-8 about-content ">
                    <div class="about-content-header">
                        <h2 class="about-content-header_title ">
                            <span>
                                WebLeave.App
                            </span>
                        </h2>

                    </div>

                    <div class="text-muted about-content_info">
                        <div class="about-item">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <span>
                                Which would be worse: to live as a monster or to die as a good man ?
                            </span>
                        </div>
                        <div class="about-item">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <span>
                                You either die a hero or live long enough to see yourself become the villain ?
                            </span>
                        </div>
                        <div class="about-item">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <span>
                                Thời gian của bạn có hạn, đừng lãng phí để sống cuộc đời của người khác. Đừng tự nhốt mình trong những tín điều nào đó, sống như vậy là sống bằng suy nghĩ của những người khác. Đừng để quan điểm ồn ào của kẻ khác át đi tiếng nói bên trong của riêng bạn. Và điều quan trọng nhất, hãy dũng cảm đi theo sự mách bảo của trái tim và trực giác của mình. Chúng biết rõ bạn thực sự muốn trở thành cái gì. Những điều khác chỉ là thứ yếu.
                            </span>
                        </div>
                        <div class="about-item">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <span>
                                Trong cuộc đời mỗi người, nên có ít nhất một lần, vì người khác mà quên đi chính mình. Không màng đến kết cục, không mong có kết quả, không mơ sẽ dắt tay nhau đến cuối cuộc đời, thậm chí không cầu mong người ấy phải động lòng mà đáp lại. Mà chỉ hy vọng trong những năm tháng đẹp nhất của tuổi xuân, có thể gặp được một người, khiến ta sống dốc lòng như thế...
                            </span>
                        </div>
                    </div>

                    <div class="about-footer">
                        <div class="about-footer_box">
                            <span class="text-muted"> Contact  or Feedback </span>
                            <span class="text-muted developed-by"> <strong>Developed by: </strong> <span class="team">SD Team</span> </span><br>
                            <span class="text-muted version"> <strong>Version: </strong> 2.0.0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ---------------------------------  ABOUT --------------------------------- -->
</div>
