<div class="modal-header">
    <h4 class="modal-title pull-left">{{ "Manage.UserManage.RoleManage" | translate | uppercase}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
        <div class="col-sm-4">
            <button class="btn btn-primary float-start" *ngIf="viewrole != 'Moderator' && viewrole != 'View Only'" (click)="SetPermit('view')" >
              <i class="{{iconButton.ADD}}"></i> {{ "Manage.UserManage.AddView" | translate}}
            </button>
            <button class="btn btn-success float-start" *ngIf="viewrole != 'Moderator'" (click)="SetPermit('mod')" >
                <i class="{{iconButton.ADD}}"></i> {{ "Manage.UserManage.AddMod" | translate}}
            </button>
            <button class="btn btn-warning   float-start" *ngIf="viewrole != 'Nothing' && viewrole != 'View Only'"  (click)="RemovePermit('mod')" >
                <i class="{{iconButton.DELETE}}"></i> {{ "Manage.UserManage.DeleteMod" | translate}}
            </button>
            <button class="btn btn-danger float-start" *ngIf="viewrole != 'Nothing' "  (click)="RemovePermit('all')" >
                <i class="{{iconButton.DELETE}}"></i> {{ "Manage.UserManage.DeleteAll" | translate}}
            </button>
        </div>
        <div class="col-sm-8">
            <input type="text" readonly class="form-control text-center fw-bold input-role" [(ngModel)]="viewrole">
        </div>
    </div>
  </div>
