.container p {
  margin-right: 10px;
}
.container_input {
  display: flex;
  flex-direction: row;
}

.width-operation {
  min-width: 100px;
}

.text-center-vertical {
  text-align: center;
  vertical-align: middle;
}
