.container p {
  margin-right: 10px;
}

.vertical-align-middle {
  vertical-align: middle;
}

.vertical-align-middle-button {
  min-width: 100px;
  vertical-align: middle;
}

.custom-margin-bottom {
  margin-bottom: 5px;
}

.col-radio {
  width: 180px;
  padding-left: 15px;
  padding-right: 15px;
}
