.date-column,.select-column {
  min-width: 190px;
}

.border-top-only {
  border-top: 1px solid #c8ced3;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
}
