<div class="modal-header">
  <h4 class="modal-title pull-left">
    <i [class]="iconButton.LOCK"></i>
    {{'DefaultLayout.ChangePassword' | translate | titlecase}}
  </h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #form="ngForm">
    <div class="form mb-3">
      <input type="password" name="password" id="password" class="form__input form-control"
        autocomplete="off" placeholder=" " required [(ngModel)]="param.password">
      <label for="password" class="form__label">{{'DefaultLayout.Password' | translate}}</label>
    </div>
    <div class="form mb-3">
      <input type="password" name="new-password" id="new-password" class="form__input form-control"
        autocomplete="off" placeholder=" " required [(ngModel)]="param.newPassword">
      <label for="new-password" class="form__label">{{'DefaultLayout.NewPassword' | translate}}</label>
    </div>
    <div class="form mb-3">
      <input type="password" name="confirm-password" id="confirm-password" class="form__input form-control"
        autocomplete="off" placeholder=" " required [(ngModel)]="confirmPassword">
      <label for="confirm-password" class="form__label">{{'DefaultLayout.ConfirmPassword' | translate}}</label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="reset()">
    <i [class]="iconButton.RESET"></i>
    {{'System.Action.Reset' | translate}}
  </button>
  <button type="button" class="btn btn-success" (click)="save()" [disabled]="form.invalid">
    <i [class]="iconButton.SAVE"></i>
    {{'System.Action.Save' | translate}}
  </button>
</div>