<div class="wrapper">
    <div class="box">
        <span class="error-code">203</span>
        <p class="title-notifice">
            {{'error.machine_transfer_locked' | translate }}
        </p>
        <p class="title-notifice">
            {{'error.loginrequest' | translate }}
        </p>
        <p>
            <a href="">
                {{'error.contact_it' | translate }}
            </a>
        </p>
        <span class="title-time">
            <span style="color: red;">{{time}}</span>
            {{'error.seconds_return_hompage' | translate }}
        </span>
    </div>
</div>
