.box {
  max-width: 70%;
  margin: 30px auto;
  text-align: center;
}

p.title-notifice {
  font-weight: bold;
  font-size: 40px;
  color: #ff0000;
}

p {
  font-weight: bold;
  font-size: 30px;
  color: #ff9900;
}

span.title-time {
  font-style: italic;
  font-size: 25px;
  color: #216f79;
}

h1 {
  margin: 0 0 1rem 0;
  font-size: 3.8em;
  text-align: center;
  margin-top: 20px;
}
