<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong>1.4 T2 Meeting Time Setting</strong>
      <button class="btn btn-primary float-right" (click)="openAddModal()">
        <i class="fa fa-plus"></i>
        Add New
      </button>
    </div>
    <div class="card-body">
      <form #searchForm="ngForm" class="form-group row" (submit)="search()">
        <!-- Meeting Date Range -->
        <label class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-form-label">
          <strong class="float-right">Meeting Date Range</strong>
        </label>
        <div class="col-xl-2 col-lg-5 col-md-5 col-sm-5 mb-2">
          <div class="input-group">
            <input type="text" name="startDate" placeholder="Select from..." class="form-control" autocomplete="off" readonly
              bsDatepicker [(ngModel)]="startDate" [maxDate]="endDate" [bsConfig]="bsConfig" style="background-color: inherit;">
            <span class="input-group-append">
              <button class="btn btn-primary" type="button" disabled><i class="fa fa-calendar"></i></button>
            </span>
          </div>
        </div>
        <div class="col-xl-2 col-lg-5 col-md-5 col-sm-5">
          <div class="input-group">
            <input type="text" name="endDate" placeholder="Select to..." class="form-control" autocomplete="off" readonly
              bsDatepicker [(ngModel)]="endDate" [minDate]="startDate" [bsConfig]="bsConfig" style="background-color: inherit;">
            <span class="input-group-append">
              <button class="btn btn-primary" type="button" disabled><i class="fa fa-calendar"></i></button>
            </span>
          </div>
        </div>
        <label class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-form-label">
          <strong class="float-right">Building or Group</strong>
        </label>
        <div class="col-xl-2 col-lg-5 col-md-5 col-sm-5 mb-2">
          <ng-select name="buildingOrGroup" width="100%" placeholder="Please Select..."
            [(ngModel)]="param.building_Or_Group">
            <ng-option [value]="''">All</ng-option>

            <ng-option *ngFor="let items of listBuildingOrGroup" [value]="items.key">{{items.value}}</ng-option>
          </ng-select>
        </div>
        <!-- Button -->
        <div class="col">
          <button class="btn btn-secondary mr-1" type="submit">
            <i class="fa fa-search"></i>
            Search
          </button>
          <button class="btn btn-danger" type="button" (click)="clearForm()">
            <i class="fa fa-ban"></i>
            Clear
          </button>
        </div>
      </form>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="bg-primary font-weight-bold">
            <tr>
              <th>Building or Group</th>
              <th>Meeting Date</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th style="width: 1rem;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="data?.length === 0">
              <td colspan="100%" class="table-warning text-center font-weight-bold">NO DATA!</td>
            </tr>
            <tr *ngFor="let item of data; let i = index;">
              <td>{{item.tU_ID}}</td>
              <td>{{item.meeting_Date | date: "YYYY-MM-dd"}}</td>
              <td>{{item.start_Time}}</td>
              <td>{{item.end_Time}}</td>
              <td class="text-center">
                <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination *ngIf="pagination.totalPage > 0" [boundaryLinks]="true" [totalItems]="pagination.totalCount"
          [(ngModel)]="pagination.pageNumber" [itemsPerPage]="pagination.pageSize" (pageChanged)="pageChanged($event)"
          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]=5>
        </pagination>
      </div>
    </div>
  </div>
</div>