<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong>1.2 Page Enable/Disable</strong>
    </div>
    <div class="card-body">
      <form #searchForm="ngForm" class="form-group row" (submit)="search()">
        <label class="col-md-1 col-form-label">
          <strong class="float-right">Center <i class="text-danger">*</i></strong>
        </label>
        <div class="col-md-2">
          <ng-select name="center" width="100%" [(ngModel)]="param.center_Level"
            placeholder="Select Center..." (ngModelChange)="centerLevelChanged()" required>
            <ng-option *ngFor="let items of centers" [value]="items.key">{{items.key}}</ng-option>
          </ng-select>
        </div>
        <label class="col-md-1 col-form-label">
          <strong class="float-right">Tier <i class="text-danger">*</i></strong>
        </label>
        <div class="col-md-2">
          <ng-select name="tier" width="100%" [(ngModel)]="param.tier_Level"
            placeholder="Select Tier..." (ngModelChange)="tierLevelChanged()" required>
            <ng-option *ngFor="let items of tiers" [value]="items.key">{{items.key}}</ng-option>

          </ng-select>
        </div>
        <label class="col-md-1 col-form-label">
          <strong class="float-right">Section <i class="text-danger">*</i></strong>
        </label>
        <div class="col-md-2">
          <ng-select name="section" width="100%" [(ngModel)]="param.class_Level"
            placeholder="Select Section..." required>
            <ng-option *ngFor="let items of sections" [value]="items.key">{{items.key}}</ng-option>

          </ng-select>
        </div>
        <div class="col-md-2">
          <button class="btn btn-secondary mr-1" type="submit" [disabled]="searchForm.invalid">
            <i class="fa fa-search"></i>
            <span>Search</span>
          </button>
          <button class="btn btn-danger" type="button" (click)="clearForm()">
            <i class="fa fa-times"></i>
            <span>Clear</span>
          </button>
        </div>
      </form>

      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
          <table class="table table-bordered">
            <thead class="bg-primary font-weight-bold">
              <tr>
                <th colspan="2" class="text-center">Page Enable/Disable</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="pages.length !== 0">
                <th>Page Name</th>
                <th class="text-center">Active</th>
              </tr>
              <tr *ngIf="pages.length === 0">
                <td colspan="100%" class="table-warning text-center font-weight-bold">NO DATA!</td>
              </tr>
              <tr *ngFor="let item of pages; let i = index;">
                <td>{{item.page_Name}}</td>
                <td class="text-center">
                  <div class="custom-control custom-checkbox">
                    <input [name]="'is_Active' + i" [(ngModel)]="item.is_Active" type="checkbox"
                      class="custom-control-input" [id]="'is_Active' + i" (click)="onChecked(item)">
                    <label class="custom-control-label" [for]="'is_Active' + i"></label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="savePages()" [disabled]="pages.length === 0">
        <i class="fa fa-check"></i>
        <span>Save</span>
      </button>
    </div>
  </div>
</div>