
.custom-columns-seq {
    min-width: 70px;
    white-space: nowrap;
  }
  
  #dropdown-container{
    position: relative;
  }
  
  .container {
    margin-top: -5px;
  }
  
  .container p {
    margin-right: 10px;
  }
  