<div bsModal #editPass="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg modal-fluid">
    <form class="boder-light text-center p-5">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center btn btn-sm btn-primary ">
            <h3 class="modal-title w-100 text-uppercase font-weight-bold pass"> {{'changepassword.change_password'
              | translate }}&nbsp;<i class="fa fa-recycle" aria-hidden="true"></i></h3>
            <span data-dismiss="modal" aria-label="Close" class="close" (click)="modelChangePasword.hide()"><img alt="exit"
                src="assets/img/avatars/close.png"></span>
          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-4">
              <label class="fa fa-unlock lable-validate"> {{'changepassword.old_password' |
                translate }}</label>
              <input type="password" class=" form-control validate" id="old_password" name="username"
                (keyup.enter)="changePassword()" autocomplete="off" [(ngModel)]="Password.oldPassword">
            </div>
            <div class="md-form mb-4">
              <label  class="fa fa-lock lable-validate"> {{'changepassword.new_password' |
                translate }}</label>
              <input type="password" class="form-control validate " id="new_password" name="new_password"
                (keyup.enter)="changePassword()" autocomplete="off" [(ngModel)]="Password.newPassword">
            </div>
            <div class="md-form mb-4">
              <label class="fa fa-key lable-validate"> {{'changepassword.confirm_password' |
                translate }}</label>
              <input type="password" class="form-control validate " id="confirm_password" name="confirm_password"
                (keyup.enter)="changePassword()" autocomplete="off" [(ngModel)]="reNewPassword">
            </div>
          </div>
          <div class="modal-footer d-flex">
            <button type="button" class="btn btn-sm btn-success fa fa-send" (click)="changePassword()">
              {{'changepassword.change_password' | translate }}
            </button>
            <button type="button" class="btn btn-sm btn-danger fa fa-repeat" (click)="clearForm()">
              {{'changepassword.reset' | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>