.container_input {
  display: flex;
  flex-direction: row;
}

.custom-margin-bottom {
  margin-bottom: 5px;
}

.vertical-align-middle {
  vertical-align: middle;
}

.vertical-align-middle-button {
  min-width: 100px;
  vertical-align: middle;
}
