<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- the targets to write -->
  <targets>
    <!-- write to file -->
    <target name="createdatafromsapwork" xsi:type="File" 
      fileName="${basedir}\wwwroot\Logs\CreateDataFromSAP\Work\worklog_${shortdate}.log" />

    <target name="createdatafromsaperror" xsi:type="File" 
      fileName="${basedir}\wwwroot\Logs\CreateDataFromSAP\Error\errorlog_${shortdate}.log" />

    <target name="createdatafromsapsuccess" xsi:type="File" 
      fileName="${basedir}\wwwroot\Logs\CreateDataFromSAP\Success\successlog_${shortdate}.log" />

    <target name="updatelocationwork" xsi:type="File" 
      fileName="${basedir}\wwwroot\Logs\UpdateLocation\Work\worklog_${shortdate}.log" />

    <target name="updatelocationerror" xsi:type="File" 
      fileName="${basedir}\wwwroot\Logs\UpdateLocation\Error\errorlog_${shortdate}.log"/>

    <target name="updatelocationsuccess" xsi:type="File" 
      fileName="${basedir}\wwwroot\Logs\UpdateLocation\Success\successlog_${shortdate}.log"/>

    <target name="checkwork" xsi:type="File" 
      fileName="${basedir}\wwwroot\Logs\Works\successlog_${shortdate}.log"/>
  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <!-- all logs including Microsoft -->
    <logger name="createdatafromsapwork" minlevel="Trace" writeTo="createdatafromsapwork" />
    <logger name="createdatafromsaperror" minlevel="Trace" writeTo="createdatafromsaperror" />
    <logger name="createdatafromsapsuccess" minlevel="Trace" writeTo="createdatafromsapsuccess" />
    <logger name="updatelocationwork" minlevel="Trace" writeTo="updatelocationwork" />
    <logger name="updatelocationerror" minlevel="Trace" writeTo="updatelocationerror" />
    <logger name="updatelocationsuccess" minlevel="Trace" writeTo="updatelocationsuccess" />
    <logger name="checkwork" minlevel="Trace" writeTo="checkwork" />
  </rules>
</nlog>
