<div class="animated fadeIn">
    <!--/.row-->
    <div class="row">
        <!--/.col-->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong>2.2 Upload Video</strong>
                    <button class="btn btn-primary float-right ml-2" (click)="add()" >
                        <i class="fa fa-plus"></i>
                        Add Video
                      </button>
                      <button class="btn btn-danger float-right" [routerLink] = "['/uT1safety/batch-delete']" >
                        Batch Delete
                      </button>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-1 col-form-label" for="center"><strong class="float-right">Center</strong></label>
                        <div class="col-md-2">
                            <ng-select placeholder="Select Center..."
                                (ngModelChange)="changedCenter($event)" [cssImport]=true [(ngModel)]="center">
                                <ng-option *ngFor="let items of centerList" [value]="items.key">{{items.key}}</ng-option>
                            </ng-select>
                        </div>

                        <label class="col-md-1 col-form-label" for="tier"><strong class="float-right">Tier</strong></label>
                        <div class="col-md-2">
                            <ng-select placeholder="Select Tier..."
                                (ngModelChange)="changedTier($event)" [cssImport]=true [(ngModel)]="tier">
                                <ng-option *ngFor="let items of tierList" [value]="items.key">{{items.key}}</ng-option>
                            </ng-select>
                        </div>
                        
                        <label class="col-md-1 col-form-label" for="section"><strong class="float-right">Section</strong></label>
                        <div class="col-md-2">
                            <ng-select placeholder="Select Section..."
                            (ngModelChange)="changedSection($event)" [cssImport]=true [(ngModel)]="section">
                            <ng-option *ngFor="let items of sectionList" [value]="items.key">{{items.key}}</ng-option>

                            </ng-select>
                        </div>
                        
                        <label class="col-md-1 col-form-label" for="unit"><strong class="float-right">Unit</strong></label>
                        <div class="col-md-2">
                            <ng-select placeholder="Select Unit..."
                            (ngModelChange)="changedUnit($event)" [cssImport]=true [(ngModel)]="unit">
                            <ng-option *ngFor="let items of unitList" [value]="items.key">{{items.value}}</ng-option>

                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-1 col-form-label" for="videoKind"><strong class="float-right">Video Kind</strong></label>
                        <div class="col-md-2">
                            <ng-select placeholder="Select video Kind..."
                            (ngModelChange)="changedVideoKind($event)" [cssImport]=true [(ngModel)]="videoKind">
                            <ng-option *ngFor="let items of videoKindList" [value]="items.key">{{items.key}}</ng-option>
                        </ng-select>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <input type="text" placeholder="Place Date Start" autocomplete="off" id="fromDate" class="form-control bg-white" bsDatepicker
                                    [(ngModel)]="time_start" name="time_start" [bsConfig]="bsConfig" readonly>
                                <span class="input-group-append">
                                    <button class="btn btn-primary" type="button" disabled><i
                                            class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <input type="text" placeholder="Place Date End" autocomplete="off" class="form-control bg-white" bsDatepicker
                                    [(ngModel)]="time_end" name="time_end" [bsConfig]="bsConfig" readonly>
                                <span class="input-group-append">
                                    <button class="btn btn-primary" type="button" disabled><i
                                            class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success btn-block" (click)="search()"><i
                                    class="fa fa-search"></i>
                                Search</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Video Kind</th>
                                <th>Center</th>
                                <th>Tier</th>
                                <th>Section</th>
                                <th>UnitID</th>
                                <th>UnitName</th>
                                <th>Play Date</th>
                                <th>Audit Item ENG</th>
                                <th>Audit Item LCL</th>
                                <th>Audit Item CHT</th>
                                <th>Icon</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tbody *ngIf="productT1List.length === 0">
                                <tr>
                                    <td colspan="13" class="table-warning text-center font-weight-bold">NO DATA!</td>
                                </tr>
                              </tbody>
                              <tbody>
                                <ng-container *ngFor="let item of productT1List">
                                    <tr>
                                        <td><button (click)="delete(item)" class="btn btn-danger">Delete</button></td>
                                        <td>{{item.video_Kind}}</td>
                                        <td>{{item.center}}</td>
                                        <td>{{item.tier}}</td>
                                        <td>{{item.section}}</td>
                                        <td>{{item.unit}}</td>
                                        <td>{{item.unit_Name}}</td>
                                        <td>{{item.play_Date | date: 'yyyy/MM/dd'}}</td>
                                        <td>{{item.video_Title_ENG}}</td>
                                        <td>{{item.vIdeo_Title_LCL}}</td>
                                        <td>{{item.video_Title_CHT}}</td>
                                        <td>
                                             <img height="100" width="100"  [src]="url + item.video_Icon_Path" alt=""> 
                                        </td>
                                        <td>{{item.video_Remark}}</td>
                                    </tr>
                                </ng-container>
                              </tbody>
                            <tbody>
                        </tbody>
                    </table>
                    <div class="d-flex">
                        <pagination *ngIf="productT1List.length > 0" [boundaryLinks]="true"
                            [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
                            [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)"
                            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                            [maxSize]=5>
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>