table {
  font-size: 30px;
}

table tr th {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.td-right {
  text-align: right;
}
.title-2 {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
