.box-header .d-flex {
    align-items: center;
    vertical-align: middle;
    padding: 10px;
}

.ng-select {
    min-width: 25vw;
}

h4 {
    margin-top: unset !important;
    margin-bottom: unset !important;
    padding-bottom: 0 !important;
}

.card .card-body .d-flex {
     justify-content: center;
}