.custom-upload{
  display: none;
}

.result-text {
  font-weight: 500;
  font-size: 16px;
}

.report-text {
  color: red;
  font-weight: 200;
  font-size: 15px;
}
.form-control[readonly] {
  background: white ;
}
