table tr td a {
  text-decoration: none !important;
}

table tr td a:hover {
  text-decoration: underline !important;
}

td{
  a {
    color: #0d6efd;
    text-decoration: underline;
  }

  &:hover{
    cursor: pointer;
  }
}
