label {
  font-size: 15px;
  color: #9e9e9e;
}

.md-form {
  margin-bottom: 20px !important;
  text-align: left;
}

input {
  border: none;
  border-bottom: 1px solid #ced4da;
  background-color: transparent;
}

.checkbox {
  text-align: left;
}

.btn-success {
  background-color: #5cb85c;
}

button#btnLogin {
  color: #ffff;
}
