.text-detail {
    margin-bottom: 0;
}

.border-yellow{
    align-items: center;
    justify-content: flex-start;
    border: 2px solid #D3B734;
    margin: 20px;
    padding: 15px;
}

#site_state{
    font-size: 18px !important;
    cursor: pointer;
}