.before-change {
  background-color: #20a8d8;
  color: #fff;
  font-size: 15px;
  border-bottom: 20px solid;
  padding: 5px;
  font-weight: bold;
  vertical-align: middle !important;
  text-align: center;
}
.after-change {
  background-color: #20a8d8;
  color: #fff;
  font-size: 15px;
  border-bottom: 20px solid;
  padding: 5px;
  font-weight: bold;
  vertical-align: middle !important;
  text-align: center;
}
