<app-header class="style-header" [navbarBrandRouterLink]="['/home']" [fixed]="true" id="default_layout"
  [navbarBrandText]="{
  icon: '<image src=assets/img/brand/syf1.png width=42 height=28></image>',
  text: '<image src=assets/img/brand/syf1.png width=42 height=28></image> ' + factoryName}" [sidebarToggler]="'lg'"
  [mobileAsideMenuToggler]="''">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3 text-color-white ">
      <h3>Machine Transfer</h3>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="language">
      <a [ngClass]="{'active': tab==='zh-TW'}" (click)="switchLang('zh-TW')">
        中文
      </a>
      <a [ngClass]="{'active': tab==='en-US'}" (click)="switchLang('en-US')">
        English
      </a>
      <a [ngClass]="{'active': tab===local}" (click)="switchLang(local)">
        Local
      </a>
    </li>
    <li class="nav-item dropdown mr-30" dropdown #dropdown="bs-dropdown" placement="bottom right">
      <a class="nav-link" id="LoginUser" data-toggle="dropdown1" href="javascript:;" role="button" aria-haspopup="true"
        aria-expanded="false" *ngIf="showLogin; else logOut" (click)="lgModal.showChildLogin()">
        {{'login.login' | translate }}
      </a>

      <ng-template #logOut>
        <a href="javascript:;" class="user-profile">
          <img src="assets/img/avatars/account.png" class="img-circle" alt="Avatar">
        </a>
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
          dropdownToggle>
          {{'login.hello' | translate }}
          <span class="user-username">{{dataUser.empName}}</span>
        </a>
      </ng-template>

      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" href="javascript:;"><i class="fa fa-envelope-open"></i>{{dataUser.emailAddress}}</a>
        <a class="dropdown-item" href="javascript:;" (click)="editPass.showChildLogin()"><i class="fa fa-exchange"></i>
          {{'changepassword.change_password' | translate }} </a>
        <a class="dropdown-item logout" href="javascript:;" (click)="logout()" (click)="dropdown.hide()"><i
            class="fa fa-sign-out "></i> {{'login.logout' | translate }}</a>
      </div>
    </li>
    <li class="time">
      {{ time | date: " HH:mm:ss " }}
    </li>
  </ul>

</app-header>
<div class="app-body" id="body_default">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized"
    (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized">
    </app-sidebar-nav>

    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>

      <!-- Login -->
      <app-login-home #lgModal (showLogin)="showLoginChil($event)" (dataUser)="showUser($event)"></app-login-home>

      <!-- Logout -->
      <app-change-pasword #editPass></app-change-pasword>

    </div>
  </main>
</div>
<app-footer id="footer_default">
  <span class="nav-bottom">
    Copyright&nbsp; <i class="fa fa-copyright"></i> {{ time | date: "yyyy" }} -
    <a href="#">SHYANG SHIN BAO INDUSTRIAL CO., LTD All Right reserved.</a>&nbsp;
  </span>
  <span class="sessionuser" placement="top" tooltip="Version Data">
    (v2.0-b)&nbsp;
  </span>
  <span class="sessionuser" placement="top" tooltip="Users Online">
    (<i class="fa fa-user" aria-hidden="true"></i> - {{usersCount}})
  </span>
  <span class="ml-auto">Powered by IT-SSB</span> <img class="createby" alt="fire" src="assets/img/avatars/createby.gif">
</app-footer>
