<next-pre-buttons [previousLink]="previousLink" [nextLink]="nextLink"></next-pre-buttons>
<div class="header">
  <h2 class="titlePage">Safety</h2>
</div>
<div class="body">
  <div class="table-responsive">
    <table class="table table-borderless">
      <tbody>
        <tr *ngFor="let item of todayData" (click)="showVideoModal(item)">
          <td class="video-thumb">
            <img class="video-item" [src]="baseUrl + item.video_Icon_Path" #videoThumbEl
              (error)="videoThumbEl.src = 'assets/img/tmpic/safety.png'" />
          </td>
          <td class="video-title">
            <h3>{{item.video_Title_ENG}}</h3>
            <h3>{{item.vIdeo_Title_LCL}}</h3>
            <h3>{{item.video_Title_CHT}}</h3>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container" *ngIf="todayData.length === 0">
    <div class="table-warning text-center font-weight-bold col-12" style="height: 50px; line-height: 3.5;">NO DATA!
    </div>
  </div>
</div>

<div class="modal fade" bsModal #videoModal="bs-modal" [config]="bsModalConfig"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHide)="pauseVideo()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <video [src]="videoSrc" (play)="addVideoLog()" controls width="100%" height="100%" #videoPlayerEl></video>
      </div>
    </div>
  </div>
</div>