<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <form class="form-horizontal"
              autocomplete="off"
              #form="ngForm">
          <div class="card-header">
            <div class="row border-title">
              <div class="col-md-12">
                <strong class="title-card-cs">{{ title }} - {{"System.Action.Add" | translate}}</strong>
                <button type="button"
                        class="{{classButton.BACK}}"
                        (click)="back()">
                  <i class="{{ iconButton.BACK }}"></i> {{'System.Action.Back' | translate }}
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row border-shadow">
              <!-- Factory -->
              <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-12">
                <label class="badge badge-warning">{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.Factory' | translate }}
                  <span class="text-danger text-bold"> *</span></label>
                <ng-select name="destination_Limit"
                           [(ngModel)]="dataMain.factory"
                           (ngModelChange)="onFactoryChange()"
                           placeholder="{{'AttendanceMaintenance.AttendanceChangeRecordMaintenance.Factory' | translate}}"
                           (clear)="deleteProperty('factory')"
                           [clearable]="dataMain.factory != ''"
                           required>
                  <ng-option *ngFor="let item of listFactory"
                             [value]="item.key">{{item.value}}</ng-option>
                </ng-select>
              </div>
              <!-- EmployeeID -->
              <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
                <label class="badge badge-warning">
                  {{"AttendanceMaintenance.AttendanceChangeRecordMaintenance.EmployeeID" | translate}}
                  <span class="text-danger">*</span>
                </label>
                <input [(ngModel)]="dataMain.employee_ID"
                       name="employeeID"
                       type="text"
                       class="form-control"
                       typeaheadOptionField="actual_Employee_ID"
                       [typeahead]="employeeList"
                       (typeaheadOnSelect)="onTypehead()"
                       (typeaheadOnBlur)="onTypehead()"
                       (typeaheadNoResults)="onTypehead(true)"
                       typeaheadScrollable="true"
                       placeholder="{{'AttendanceMaintenance.AttendanceChangeRecordMaintenance.EmployeeID' | translate}}"
                       maxlength="9"
                       [disabled]="!dataMain.factory"
                       required />
              </div>
              <!-- local_Full_Name -->
              <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-12">
                <label class="badge badge-warning">{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.LocalFullName' | translate }}
                </label>
                <input type="text"
                       class="form-control"
                       [name]="'local_Full_Name'"
                       [(ngModel)]="dataMain.local_Full_Name"
                       placeholder="{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.LocalFullName' | translate }}"
                       required
                       readonly />
              </div>
              <!-- department  -->
              <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-12">
                <label class="badge badge-warning">{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.Department' | translate }}
                </label>
                <input type="text"
                       class="form-control"
                       [name]="'department'"
                       [(ngModel)]="dataMain.department_Code_Name"
                       placeholder="{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.Department' | translate }}"
                       disabled />
              </div>
              <!-- Date -->
              <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-12">
                <label class="badge badge-warning">{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.Date' | translate }}
                  <span class="text-danger text-bold"> *</span></label>
                <div class="input-group">
                  <input type="text"
                         autocomplete="off"
                         placeholder="YYYY/MM/DD"
                         [name]="'att_Date'"
                         [minDate]="minDate"
                         [maxDate]="maxDate"
                         [bsConfig]="bsConfig"
                         class="form-control"
                         bsDatepicker
                         [(ngModel)]="dataMain.att_Date"
                         (ngModelChange)="onDateChange()"
                         onpaste="return false"
                         required />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="{{ iconButton.CALENDAR }}"></i>
                    </span>
                  </div>
                </div>
              </div>
              <!-- work_Shift_Type -->
              <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-12">
                <label class="badge badge-warning">{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.WorkShiftType' | translate }}
                  <span class="text-danger text-bold"> *</span></label>
                <ng-select class="select-column"
                           [name]="'work_Shift_Type'"
                           (clear)="deleteProperty('work_Shift_Type')"
                           [clearable]="dataMain.work_Shift_Type != ''"
                           [(ngModel)]="dataMain.work_Shift_Type"
                           placeholder="{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.WorkShiftType' | translate }}"
                           appendTo="body"
                           dropdownPosition="bottom"
                           required>
                  <ng-option *ngFor="let data of listWorkShiftType"
                             [value]="data.key">{{data.value}}
                  </ng-option>
                </ng-select>
              </div>
              <!-- Attendance  -->
              <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-12">
                <label class="badge badge-warning">{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.Attendance' | translate }}
                  <span class="text-danger text-bold"> *</span></label>
                <ng-select class="select-column"
                           (clear)="deleteProperty('leave_Code')"
                           [clearable]="dataMain.leave_Code != ''"
                           [name]="'leave_Code'"
                           [(ngModel)]="dataMain.leave_Code"
                           placeholder="{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.Attendance' | translate }}"
                           appendTo="body"
                           dropdownPosition="bottom"
                           required>
                  <ng-option *ngFor="let data of listAttendance"
                             [value]="data.key">{{data.value}}
                  </ng-option>
                </ng-select>
              </div>
              <!-- listReasonCode -->
              <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-12">
                <label class="badge badge-warning">{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.UpdateReason' | translate }}
                  <span class="text-danger text-bold"> *</span></label>
                <ng-select class="select-column"
                           (clear)="dataMain.reason_Code = 'ZZ'"
                           [clearable]="dataMain.reason_Code != 'ZZ'"
                           [name]="'reason_Code'"
                           [(ngModel)]="dataMain.reason_Code"
                           placeholder="{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.UpdateReason' | translate }}"
                           appendTo="body"
                           dropdownPosition="bottom"
                           required>
                  <ng-option *ngFor="let data of listReasonCode"
                             [value]="data.key">{{data.value}}
                  </ng-option>
                </ng-select>
              </div>
              <!-- Worktime -->
              <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-12">
                <label class="badge badge-warning">{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.ClockIn' | translate }}</label>
                <input type="text"
                       class="form-control"
                       [name]="'clock_In'"
                       [(ngModel)]="dataMain.clock_In"
                       mask="00:00"
                       disabled
                       (blur)="updateTime($event.target.value, 'clock_In')" />
              </div>
              <!-- ModifiedClockIn -->
              <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-12">
                <label class="badge badge-warning">{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.ModifiedClockIn' | translate }}
                  <span class="text-danger text-bold"> *</span></label>
                <input type="text"
                       class="form-control"
                       [name]="'modified_Clock_In'"
                       [(ngModel)]="dataMain.modified_Clock_In"
                       mask="00:00"
                       required
                       (blur)="updateTime($event.target.value, 'modified_Clock_In')" />
              </div>
              <!-- ClockOut -->
              <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-12">
                <label class="badge badge-warning">{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.ClockOut' | translate }}</label>
                <input type="text"
                       class="form-control"
                       [name]="'clock_Out'"
                       [(ngModel)]="dataMain.clock_Out"
                       mask="00:00"
                       disabled
                       (blur)="updateTime($event.target.value, 'clock_Out')" />
              </div>
              <!-- ModifiedClockOut -->
              <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-12">
                <label class="badge badge-warning">{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.ModifiedClockOut' | translate }}
                  <span class="text-danger text-bold"> *</span></label>
                <input type="text"
                       class="form-control"
                       [name]="'modified_Clock_Out'"
                       [(ngModel)]="dataMain.modified_Clock_Out"
                       mask="00:00"
                       required
                       (blur)="updateTime($event.target.value, 'modified_Clock_Out')" />
              </div>
              <!-- OvertimeClockIn -->
              <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-12">
                <label class="badge badge-warning">{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.OvertimeClockIn' | translate }}</label>
                <input type="text"
                       class="form-control"
                       [name]="'overtime_ClockIn'"
                       [(ngModel)]="dataMain.overtime_ClockIn"
                       mask="00:00"
                       disabled
                       (blur)="updateTime($event.target.value, 'overtime_ClockIn')" />
              </div>
              <!-- ModifiedOvertimeClockIn -->
              <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-12">
                <label class="badge badge-warning">{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.ModifiedOvertimeClockIn' | translate }}
                  <span class="text-danger text-bold"> *</span></label>
                <input type="text"
                       class="form-control"
                       [name]="'modified_overtime_ClockIn'"
                       [(ngModel)]="dataMain.modified_Overtime_ClockIn"
                       mask="00:00"
                       required
                       (blur)="updateTime($event.target.value, 'modified_Overtime_ClockIn')" />
              </div>
              <!-- OvertimeClockOut -->
              <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-12">
                <label class="badge badge-warning">{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.OvertimeClockOut' | translate }} </label>
                <input type="text"
                       class="form-control"
                       [name]="'overtime_ClockOut'"
                       [(ngModel)]="dataMain.overtime_ClockOut"
                       mask="00:00"
                       disabled
                       (blur)="updateTime($event.target.value, 'overtime_ClockOut')" />
              </div>
              <!-- ModifiedOvertimeClockOut -->
              <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-12">
                <label class="badge badge-warning">{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.ModifiedOvertimeClockOut' | translate }}
                  <span class="text-danger text-bold"> *</span></label>
                <input type="text"
                       class="form-control"
                       [name]="'modified_overtime_ClockOut'"
                       [(ngModel)]="dataMain.modified_Overtime_ClockOut"
                       mask="00:00"
                       required
                       (blur)="updateTime($event.target.value, 'modified_Overtime_ClockOut')" />
              </div>
              <!-- Days -->
              <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-12">
                <label class="badge badge-warning">{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.Days' | translate }} </label>
                <input type="text"
                       mask="separator.5"
                       maxlength="11"
                       class="form-control"
                       [name]="'days'"
                       decimalMarker="."
                       [leadZero]="true"
                       thousandSeparator=""
                       separatorLimit="99999"
                       [(ngModel)]="dataMain.days" />
              </div>
              <!-- Holiday -->
              <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-12">
                <label class="badge badge-warning">{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.Holiday' | translate }} </label>
                <ng-select [name]="'holiday'"
                           [(ngModel)]="dataMain.holiday"
                           (clear)="dataMain.holiday = 'XXX'"
                           [clearable]="dataMain.holiday != 'XXX'"
                           placeholder="{{ 'AttendanceMaintenance.AttendanceChangeRecordMaintenance.Holiday' | translate }}"
                           appendTo="body"
                           dropdownPosition="bottom">
                  <ng-option *ngFor="let data of listHoliday"
                             [value]="data.key">{{data.value}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="table-responsive text-right">
                  <button type="button"
                          [disabled]="!form.valid"
                          class="btn btn-warning mr-2"
                          (click)="save(true)">
                    <i class="{{ iconButton.SAVE }}"></i>
                    {{ "System.Action.SaveAndContinue" | translate }}
                  </button>
                  <button type="button"
                          class="{{classButton.SAVE}}"
                          (click)="save(false)"
                          [disabled]="!form.valid">
                    <i class="{{ iconButton.SAVE }}"></i> {{'System.Action.Save' | translate }}
                  </button>
                  <button type="button"
                          class="{{classButton.CLOSE}}"
                          (click)="back()">
                    <i class="{{ iconButton.CLOSE }}"></i> {{'System.Action.Close' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
