<div id="particles-js"></div>
<div class="default-layout">
  <header class="p-2">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a routerLink="/dashboard" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <img class="img-logo" src="assets/logo/logo-ssb.png" alt="SSB Logo">
        </a>

        <ul class="nav col-6 col-lg-auto me-lg-auto justify-content-center mb-md-0 breadcrumb">
          <li>
            <a routerLink="/dashboard" class="nav-link px-2 link-secondary">
              <h4 class="mb-0 text-light">{{factory}}</h4>
            </a>
          </li>
          <li><span class="nav-link px-2 text-light">|</span> </li>
          <li class="px-2">
            <ngx-breadcrumb [breadcrumbTemplate]="template" class="ngx-dynamic-breadcrumb"></ngx-breadcrumb>
            <!-- Template Breadcrumb -->
            <ng-template #template let-breadcrumb="breadcrumb" let-isLast="isLast" let-breadcrumbs="breadcrumbArr">
              <ng-container>
                <span [ngClass]="{'cursor-default': isLast, 'breadcrumb-hover': !isLast}" href="javascript:void(0)" (click)="navigateTo(breadcrumb)"
                      title="{{('System.Breadcrumb.' + breadcrumb.label) | translate}}">
                  {{ ("System.Breadcrumb." + breadcrumb.label) | translate }}
                </span>
              </ng-container>
            </ng-template>
          </li>
        </ul>
        <div class="btn-group me-3">
          <button type="button" class="btn px-0" (click)="switchLang(langConstants.VN)">
            <img class="img-logo" src="assets/icons/vn.png" alt="VN">
          </button>
          <button type="button" class="btn px-0" (click)="switchLang(langConstants.ZH_TW)">
            <img class="img-logo" src="assets/icons/tw.png" alt="TW">
          </button>
          <button type="button" class="btn px-0" (click)="switchLang(langConstants.EN)">
            <img class="img-logo" src="assets/icons/us.png" alt="EN">
          </button>
        </div>
        <h4 class="moment mb-0 me-3">{{now}}</h4>
        <div class="dropdown text-end">
          <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser"
            data-bs-toggle="dropdown" aria-expanded="false">
            <h4 class="full-name mb-0 me-3">{{user.fullName | titlecase}}</h4>
            <img class="img-logo rounded-circle" src="assets/images/young.jpg" alt="mdo">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser">
            <li>
              <button class="dropdown-item" [routerLink]="'/leave/personal'">
                {{'DefaultLayout.PagePerson' | translate}}
              </button>
            </li>
            <li>
              <button class="dropdown-item" (click)="openChangePasswordModal()">
                {{'DefaultLayout.ChangePassword' | translate}}
              </button>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <button class="dropdown-item" (click)="logout()">
                {{'DefaultLayout.Exit' | translate}}
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <content>
    <div class="container-fluid">
      <div class="main-content">
        <router-outlet (activate)="changLang()"></router-outlet>
      </div>
    </div>
  </content>

  <footer class="py-3 border-top">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <h6 class="mb-0"> Copyright © 2022
            <a href="javascript:;" style="color: #20a8d8; text-decoration: none; background-color: transparent;">
              SHYANG SHIN BAO INDUSTRIAL CO., LTD.
            </a> All rights reserved ( <i class="fa fa-user text-success"></i> - {{connectedUsers}} )
          </h6>
        </div>
        <h6 class="mb-0">Powered by SD Team</h6>
      </div>
    </div>
  </footer>
</div>
