.col-md-3 {
    flex: 0 0 27%;
    max-width: 27%;
}
div.header-efficiency {
    text-align: center;
    color: #fff;
    font-size: 40px;
    border: 1px solid #fff;
    padding: 15px;
    font-weight: bold;
}

div.title-building {
    text-align: center;
    color: #039ed9;
    font-size: 45px;
    padding: 15px;
    font-weight: bold;
    margin: 22px 0px;
}

div.body {
    display: flex;
    text-align: center;
    background: #fff;
}

div.body .col-4 {
    padding: 1px !important;
}

div.body .col-4 p {
    font-size: 32px;
    font-weight: 400;
}

div.col-md-4.col-sm-12:not(:last-child) {
    margin-bottom: 20px;
}

.background-target {
    background: #1144a0;
}

.background-performance {
    background: #7cace7;
}

.background-eolr {
    background: #266da8;
}

.efficiency_monthly_dept {
    border-left: 10px solid goldenrod;
    height: 172px;
    position: relative;
    
    span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
        font-size: 60px;
        font-weight: 500;
        text-align: center;
    }
}
