body {
  font-family: "Poppins", Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  margin-top: 20px;
}

body,
body.modal-open {
  overflow-x: hidden;
  overflow-y: auto !important;
}

.form-floating label {
  color: red;
}
.ng-bar-placeholder {
  height: 5px !important;
}
