<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong>1.3 Page Item Setting</strong>
      <button class="btn btn-primary float-right" (click)="openAddModal()">
        <i class="fa fa-plus"></i>
        Add New
      </button>
    </div>
    <div class="card-body">
      <form #searchForm="ngForm" class="form-group row" (submit)="search()">
        <label class="col-md-1 col-form-label">
          <strong class="float-right">Center</strong>
        </label>
        <div class="col-md-2">
          <ng-select  name="center" width="100%" [(ngModel)]="param.center_Level"
            placeholder="Select Center..." (ngModelChange)="centerLevelChanged()">
            <ng-option *ngFor="let items of centers" [value]="items.key">{{items.key}}</ng-option>
          </ng-select>
        </div>
        <label class="col-md-1 col-form-label">
          <strong class="float-right">Tier</strong>
        </label>
        <div class="col-md-2">
          <ng-select  name="tier" width="100%" [(ngModel)]="param.tier_Level"
            placeholder="Select Tier..." (ngModelChange)="tierLevelChanged()">
            <ng-option *ngFor="let items of tiers" [value]="items.key">{{items.key}}</ng-option>
          </ng-select>
        </div>
        <label class="col-md-1 col-form-label">
          <strong class="float-right">Section</strong>
        </label>
        <div class="col-md-2">
          <ng-select  width="100%" [(ngModel)]="param.class_Level" name="section"
            placeholder="Select Section...">
            <ng-option *ngFor="let items of sections" [value]="items.key">{{items.key}}</ng-option>
          </ng-select>
        </div>
        <div class="col-md-2">
          <button class="btn btn-secondary mr-1" type="submit">
            <i class="fa fa-search"></i>
            Search
          </button>
          <button class="btn btn-danger" type="button" (click)="clearForm()">
            <i class="fa fa-ban"></i>
            Clear
          </button>
        </div>
      </form>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="bg-primary font-weight-bold">
            <tr>
              <th>Center</th>
              <th>Tier</th>
              <th>Section</th>
              <th>Page</th>
              <th>Item Name</th>
              <th>Local Lan.</th>
              <th>Target</th>
              <th>Tolerance</th>
              <th>Unit</th>
              <th>Active</th>
              <th style="width: 1rem;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="settings.length === 0">
              <td colspan="100%" class="table-warning text-center font-weight-bold">NO DATA!</td>
            </tr>
            <tr *ngFor="let item of settings; let i = index;">
              <td>{{item.center_Level}}</td>
              <td>{{item.tier_Level}}</td>
              <td>{{item.class_Level}}</td>
              <td>{{item.page_Name}}</td>
              <td>{{item.item_Name}}</td>
              <td>{{item.item_Name_LL}}</td>
              <td>{{item.target}}</td>
              <td>{{item.tolerance}}</td>
              <td>{{item.unit}}</td>
              <td>
                <div class="custom-control custom-checkbox">
                  <input [name]="'is_Active' + i" [checked]="item.is_Active" type="checkbox"
                    class="custom-control-input" [id]="'is_Active' + i" disabled>
                  <label class="custom-control-label" [for]="'is_Active' + i"></label>
                </div>
              </td>
              <td>
                <button class="btn btn-primary btn-sm" type="button" (click)="openEditModal(item)">
                  <i class="fa fa-pencil-square"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination *ngIf="pagination.totalPage > 1" [boundaryLinks]="true"
          [totalItems]="pagination.totalCount" [(ngModel)]="pagination.pageNumber"
          [itemsPerPage]="pagination.pageSize" (pageChanged)="pageChanged($event)"
          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
          [maxSize]=5>
        </pagination>
      </div>
    </div>
  </div>
</div>