<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>2.4 T5 External Upload</strong>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-md-4">
              <button type="button" class="btn btn-success ml-1"
                (click)="getTemplate()"><i class="fa fa-download"></i>
                Get Template</button>
              <label for="upload_File" class="btn btn-success ml-1"
                style="cursor: pointer; margin-bottom: unset">
                <i class="fa fa-upload"></i> Upload
                <input type="file" name="upload_File" id="upload_File"
                  style="display: none" (change)="uploadExcel($event)"
                  accept=".xlsx" />
              </label>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Date Range Type</th>
                  <th>Date Range Label</th>
                  <th>Sequence</th>
                  <th>Performance Type</th>
                  <th>SHC</th>
                  <th>CB</th>
                  <th>TSH</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="data.length === 0">
                  <td colspan="11"
                    class="table-warning text-center font-weight-bold">NO DATA!
                  </td>
                </tr>
                <tr *ngFor="let item of data">
                  <td>{{item.date_Range_Type}}</td>
                  <td>{{item.date_Range_Label}}</td>
                  <td>{{item.sequence}}</td>
                  <td>{{item.performance_Type}}</td>
                  <td>{{item.shc}}</td>
                  <td>{{item.cb}}</td>
                  <td>{{item.tsh}}</td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex">
              <pagination *ngIf="pagination.totalPage > 0"
                [boundaryLinks]="true" [totalItems]="pagination.totalCount"
                [(ngModel)]="pagination.pageNumber"
                [itemsPerPage]="pagination.pageSize"
                (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
                nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                [maxSize]=5>
              </pagination>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>