.custom-control {
  padding-left: 0.8rem !important;
  .form-check-inline {
    padding-left: 1.3rem !important;
  }
}
.table {
  td {
    vertical-align: middle;
  }
  .insurance-cell {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
