<div class="row mb-3 mt-2">
  <div class="col-3">
    <div class="input-group ">
      <button class="btn btn-warning ms-2" type="button" (click)="editRoleRank(this.user, this.roleName)" id="btnGroup">
        <i class="fa-solid fa-pen-to-square"></i>
        {{ "Manage.UserManage.EditGroup" | translate | titlecase}}
      </button>
      <input type="text" class="form-control text-center" [(ngModel)]="roleName" aria-describedby="btnGroup" disabled>
    </div>
  </div>
  <div class="col-9">
    <button class="btn btn-success" type="button" (click)="exportExcel()">
      <i class="{{iconButton.EXCEL}}"></i>
      {{ "System.Action.ExportExcel" | translate }}
    </button>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="box-tree box-primary">
      <div class="title-tree">
        {{ "Manage.UserManage.RoleList" | translate | titlecase}}
      </div>
      <div class="tree">
        <p-tree [value]="roles" selectionMode="sigle" class="w-full md:w-30rem"
          [style]="{'max-height':'540px','overflow':'auto'}" (onNodeSelect)="assignRole($event)">
          <ng-template let-node pTemplate="default" [pTooltip]="tooltipContent">
            <b [ngClass]="{'text-green': node.selectable, 'cursor-default': !node.selectable}"
              (mouseenter)="onMouseEnter(node.data.roleID)">
              <div *ngIf="listUsers?.length > 0">
                <div [pTooltip]="tooltipContent" tooltipStyleClass="style-manage-role" [autoHide]="false"
                  showDelay="50">
                  {{ node.label }}
                </div>
              </div>
              <div *ngIf="listUsers.length === 0">
                {{ node.label }}
              </div>
            </b>
          </ng-template>
        </p-tree>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="box-tree box-primary">
      <div class="title-tree">
        {{ "Manage.UserManage.AssignedRole" | translate | titlecase}}
      </div>
      <div class="tree">
        <p-tree [value]="assignedRoles" selectionMode="sigle" class="w-full md:w-30rem"
          [style]="{'max-height':'540px','overflow':'auto'}" (onNodeSelect)="unAssignRole($event)">
          <ng-template let-node pTemplate="default" [pTooltip]="tooltipContent">
            <b [ngClass]="{'text-green': node.selectable, 'cursor-default': !node.selectable}"
              (mouseenter)="onMouseEnter(node.data.roleID)">
              <div *ngIf="node.children?.length <= 0 && listUsers?.length > 0">
                <div [pTooltip]="tooltipContent" tooltipStyleClass="style-manage-role" [autoHide]="false"
                  showDelay="50">
                  {{ node.label }}
                </div>
              </div>
              <div *ngIf="node.children?.length > 0 || listUsers.length === 0">
                {{ node.label }}
              </div>
            </b>
          </ng-template>
        </p-tree>
      </div>
    </div>
  </div>
</div>

<ng-template #tooltipContent>
  <div>
    <div *ngFor="let user of listUsers">
      {{ user }}
    </div>
  </div>
</ng-template>