.card {
    background-color: black;
}
.card-item {
    background-color: white;
    width: 25%;
    margin: 0 4px;
}

.card-item span {
    text-align: center;
}

.card-item-chart {
    background-color: white;
    width: 25%;
    margin: 2px;
}

.table-data {
    table-layout: fixed;
    // width: 100%;
}

table {
    margin-bottom: 0;
    font-size: 40px;
}

table tr th {
    text-align: center;
}

table tr td {
    text-align: center;
}
