<div class="animated fadeIn">
    <div class="box-header with-border">
        <h4 class="box-title">{{ 'SeaHr.SeaHrAllowLeaveSunday.Title'| translate}}</h4>
        <button type="button" class="btn btn-sm btn-primary float-end" (click)="back()">
            <i [class]="iconButton.BACK"></i>
            {{'System.Action.Back' | translate}}
        </button>
    </div>
    <div class="card">
        <div class="card-body">
            <form #searchForm="ngForm" autocomplete="off" (submit)="getPagination()">
                <div class="row mt-3">
                    <!-- BỘ PHẬN -->
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-3 mb-3">
                        <ng-select name="partId" [(ngModel)]="param.partId" (clear)="clearPart()" placeholder="{{ 'SeaHr.SeaHrAllowLeaveSunday.Part' | translate}}">
                            <ng-option *ngFor="let part of parts" [value]="part.key">{{part.value}}</ng-option>
                        </ng-select>
                    </div>
                    <!-- TÌM KIẾM -->
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-3 mb-3">
                        <input type="text" class="form-control" autocomplete="off" name="employeeId" [(ngModel)]="param.keyword" placeholder="{{ 'SeaHr.SeaHrAllowLeaveSunday.Input'| translate}}">
                    </div>
                    <!-- BUTTONS -->
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-3 mb-3">
                        <div class="d-block">
                            <button type="submit" class="btn btn-primary text-capitalize me-1">
                                <i [class]="iconButton.SEARCH"></i>
                                {{'System.Action.Search' | translate}}
                            </button>

                            <button type="button" class="btn btn-danger text-capitalize me-1" (click)="clear()">
                                <i [class]="iconButton.CLEAR"></i>
                                {{'System.Action.Clear' | translate}}
                            </button>

                            <button type="button" class="btn btn-success text-capitalize" (click)="add()">
                                <i [class]="iconButton.ADD"></i> 
                                {{'System.Action.AddNew' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12 mt-1 table-responsive">
                    <!-- ========== Table ========== -->
                    <table class="table table-striped">
                        <thead class="text-start text-capitalize">
                            <tr>
                                <th scope="col">
                                  </th>
                                <th class="text-capitalize">
                                    {{ 'SeaHr.SeaHrAllowLeaveSunday.Fullname'| translate}}</th>
                                <th class="text-capitalize">
                                    {{ 'SeaHr.SeaHrAllowLeaveSunday.Department'| translate}}</th>
                                <th class="text-capitalize">
                                    {{ 'SeaHr.SeaHrAllowLeaveSunday.Part'| translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let item of listData; let i=index">
                                <td>
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" [(ngModel)]="item.isSun" [id]="'checkbox_' + i" (change)="selectItem(item)">
                                      <label class="form-check-label" [for]="'checkbox_' + i"></label>
                                    </div>
                                  </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary darkcyan">{{item.empNumber}} </button> - {{item.empName}}
                                </td>
                                <td>
                                    <span [pTooltip]="item.deptCode+ ' - '+ item.deptName" showDelay="50">
                                        {{item.deptCode}} - {{item.deptName}}
                                    </span>
                                </td>
                                <td>
                                    <span [pTooltip]="item.partName" showDelay="50">
                                        {{item.partName}}
                                    </span>
                                </td>
                            </tr>
                            <tr *ngIf="listData.length === 0">
                                <td colspan="100%" class="table-warning text-center fw-bold">
                                    {{commonConstants.COMMON_NODATA | translate}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex" *ngIf="pagination.totalPage > 1">
                        <pagination  [boundaryLinks]="true" [(ngModel)]="pagination.pageNumber" [totalItems]="pagination.totalCount" [(ngModel)]="pagination.pageNumber" [itemsPerPage]="pagination.pageSize" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]=5>
                        </pagination>
                        <span class="cs-page ms-2"> Page - {{pagination.pageNumber}} / {{pagination.totalPage}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
