<table class="table">
  <ng-container *ngIf="listData.listC2B.length > 1">
    <tr *ngFor="let block of C2B" class="tr-border">
      <td *ngFor="let data of getByLineNumCTB_2ndWay(block)" [attr.rowspan]="data.rowCount" class="myclass">
        <div class="d-flex justify-content-center">
          <ng-container *ngIf="data.level > 1; else elseTemplate">
            <button *ngIf="data.isActive; else elseButtonTemplate" type="button" class="btn btn btn-primary"
              (click)="getLine(data.tU_Code, 'CTB')">
              {{ data.tU_Name }}
            </button>
            <ng-template #elseButtonTemplate>
              <h5 style="color: white">{{ data.tU_Name }}</h5>
            </ng-template>
          </ng-container>
          <ng-template #elseTemplate>
            <h3 style="color: white">
              {{ data.class1_Level }}
            </h3>
          </ng-template>
        </div>
      </td>
    </tr>
  </ng-container>
</table>