<next-pre-buttons [previousLink]="previousLink" [nextLink]="nextLink"></next-pre-buttons>
<h2 class="titlePage">Efficiency</h2>
<div class="animated fadeIn">
  <div class="card-body row" *ngIf="data != undefined">
    <!-- Target -->
    <div class="col-md-4 col-sm-12">
      <div class="header-efficiency background-target">
        Target Achievement
      </div>
      <div class="body body-efficiency">
        <div class="col-4">
          <app-animated-count [digit]="data.target_Daily"></app-animated-count>
          <p class="mb-0">DAILY</p>
        </div>
        <div class="col-4">
          <div class="efficiency_monthly" [style.background-color]="
              data.target_Monthly >= data.target_Target
                ? 'green'
                : data.target_Monthly >=
                  data.target_Target - data.target_Target * 0.02
                ? 'yellow'
                : data.target_Monthly <
                  data.target_Target - data.target_Target * 0.02
                ? 'red'
                : 'rgba(0, 0, 0, 0.2) 20%'
            ">
            <app-animated-count [digit]="data.target_Monthly"></app-animated-count>
          </div>
          <p class="mb-0">MONTHLY</p>
        </div>
        <div class="col-4">
          <app-animated-count [digit]="data.target_Target"></app-animated-count>
          <p class="mb-0">TARGET</p>
        </div>
      </div>
    </div>
    <!-- End Target -->

    <!-- EOLR -->
    <div class="col-md-4 col-sm-12">
      <div class="header-efficiency background-eolr">
        EOLR
      </div>
      <div class="body body-efficiency">
        <div class="col-4">
          <app-animated-count [digit]="data.eolR_Daily"></app-animated-count>
          <p class="mb-0">DAILY</p>
        </div>
        <div class="col-4">
          <div class="efficiency_monthly" [style.background-color]="
              data.eolR_Monthly >= data.eolR_Target
                ? 'green'
                : data.eolR_Monthly >=
                  data.eolR_Target - (data.eolR_Target * 2) / 100
                ? 'yellow'
                : data.eolR_Monthly <
                  data.eolR_Target - (data.eolR_Target * 2) / 100
                ? 'red'
                : 'rgba(0, 0, 0, 0.2) 20%'
            ">
            <app-animated-count [digit]="data.eolR_Monthly"></app-animated-count>
          </div>
          <p class="mb-0">MONTHLY</p>
        </div>
        <div class="col-4">
          <app-animated-count [digit]="data.eolR_Target"></app-animated-count>
          <p class="mb-0">TARGET</p>
        </div>
      </div>
    </div>
    <!-- End EOLR -->

    <!-- Performance -->
    <div class="col-md-4 col-sm-12">
      <div class="header-efficiency background-performance">
        {{ data.current_Date }}
      </div>
      <div class="body body-efficiency">
        <div class="col-4">
          <app-animated-count [digit]="data.perform_Daily"></app-animated-count>
          <p class="mb-0">OUTPUT</p>
        </div>
        <div class="col-4">
          <div class="efficiency_monthly" [style.background-color]="
              data.perform_Monthly >= data.perform_Target
                ? 'green'
                : data.perform_Monthly >=
                  data.perform_Target - (data.perform_Target * 2) / 100
                ? 'yellow'
                : data.perform_Monthly <
                  data.perform_Target - (data.perform_Target * 2) / 100
                ? 'red'
                : 'rgba(0, 0, 0, 0.2) 20%'
            ">
            <app-animated-count [digit]="data.perform_Monthly"></app-animated-count>
          </div>
          <p class="mb-0">EOLR</p>
        </div>
        <div class="col-4">
          <app-animated-count [digit]="data.perform_Target"></app-animated-count>
          <p class="mb-0">PWH</p>
        </div>
      </div>
    </div>
    <!-- End Performance -->
  </div>
  <div class="container bg-white" *ngIf="isChartDataNotNull">
    <div class="chart" style="text-align: -webkit-center;padding: 10px;">
      <canvas baseChart [data]="pieChartData" [type]="pieChartType"
        [legend]="pieChartLegend" [options]="pieChartOptions" [plugins]="pieChartPlugins">
      </canvas>
      
    </div>
  </div>

</div>