.column-min {
  min-width: 220px;
}

.column-min-number {
  min-width: 180px;
}

.none-border {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
}
.department-column {
  min-width: 250px;
}
