<div class="animated fadeIn">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <nav id="navi">
          <ul>
            <li><a href="#home" (click)="scrollTo('page-1')">Giáo dục</a></li>
            <li><a href="#home" (click)="scrollTo('page-2')">Kinh nghiệm</a></li>
            <li><a href="#home" (click)="scrollTo('page-3')">Kỹ năng</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-9">
        <div id="page-1" class="page one">
          <h2 class="">Giáo dục</h2>
          <div class="resume-wrap d-flex ftco-animate">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-ideas"></span>
            </div>
            <div class="text pl-3">
              <span class="date">2017-2019</span>
              <h2>Cao đẳng FPT Polytechnic</h2>
              <span class="position">Chuyên ngành: Ứng dụng phần mềm</span>
              <p> - Bằng tốt nghiệp: Loại Khá.</p>
            </div>
          </div>
        </div>

        <div id="page-2" class="page two">
          <h2 class="">Kinh nghiệm làm việc</h2>
          <div class="resume-wrap d-flex ftco-animate">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-ideas"></span>
            </div>
            <div class="text pl-3">
              <span class="date">1/2020-4/2020</span>
              <h2>Lập trình viên</h2>
              <span class="position">Công ty TNHH Vietstar</span>
              <p> - Tham gia làm một số tính năng, test lỗi phần mềm Quản lý bán hàng Onemart Việt.</p>
            </div>
          </div>
          <div class="resume-wrap d-flex ftco-animate">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-ideas"></span>
            </div>
            <div class="text pl-3">
              <span class="date">03/2021-03/2023</span>
              <h2>Nhân viên Kho giấy</h2>
              <span class="position">Công ty TNHH Minh Long I</span>
              <p> - Chịu trách nhiệm kiểm soát toàn bộ các hoạt động nhập và xuất hàng hóa. Thực hiện đúng quy định,
                chứng từ, số liệu và chất lượng. Hàng hóa kho đảm bảo không có sự sai lệch giữa số liệu trên chứng từ
                phần mềm và thực tế.</p>
            </div>
          </div>
        </div>


        <div id="page-3" class="page three">
          <h2 class="heading">Kỹ năng</h2>
          <div class="row progress-circle mb-5">
            <div class="col-lg-3 mb-3">
              <div class="bg-white rounded-lg shadow p-4">
                <h2 class="h5 font-weight-bold text-center mb-4">CSS - HTML</h2>

                <!-- Progress bar 1 -->
                <div class="progress mx-auto" data-value='65'>
                  <span class="progress-left">
                    <span class="progress-bar border-primary"></span>
                  </span>
                  <span class="progress-right">
                    <span class="progress-bar border-primary"></span>
                  </span>
                  <div
                    class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                    <div class="h2 font-weight-bold">65<sup class="small">%</sup></div>
                  </div>
                </div>
                <!-- END -->
              </div>
            </div>

            <div class="col-lg-3 mb-3">
              <div class="bg-white rounded-lg shadow p-4">
                <h2 class="h5 font-weight-bold text-center mb-4">Java</h2>

                <!-- Progress bar 1 -->
                <div class="progress mx-auto" data-value='60'>
                  <span class="progress-left">
                    <span class="progress-bar border-primary"></span>
                  </span>
                  <span class="progress-right">
                    <span class="progress-bar border-primary"></span>
                  </span>
                  <div
                    class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                    <div class="h2 font-weight-bold">60<sup class="small">%</sup></div>
                  </div>
                </div>
                <!-- END -->
              </div>
            </div>

            <div class="col-lg-3 mb-3">
              <div class="bg-white rounded-lg shadow p-4">
                <h2 class="h5 font-weight-bold text-center mb-4">Vue JS</h2>

                <!-- Progress bar 1 -->
                <div class="progress mx-auto" data-value='50'>
                  <span class="progress-left">
                    <span class="progress-bar border-primary"></span>
                  </span>
                  <span class="progress-right">
                    <span class="progress-bar border-primary"></span>
                  </span>
                  <div
                    class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                    <div class="h2 font-weight-bold">50<sup class="small">%</sup></div>
                  </div>
                </div>
                <!-- END -->
              </div>
            </div>

            <div class="col-lg-3 mb-3">
              <div class="bg-white rounded-lg shadow p-4">
                <h2 class="h5 font-weight-bold text-center mb-4">jQuery</h2>

                <!-- Progress bar 1 -->
                <div class="progress mx-auto" data-value='60'>
                  <span class="progress-left">
                    <span class="progress-bar border-primary"></span>
                  </span>
                  <span class="progress-right">
                    <span class="progress-bar border-primary"></span>
                  </span>
                  <div
                    class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                    <div class="h2 font-weight-bold">60<sup class="small">%</sup></div>
                  </div>
                </div>
                <!-- END -->
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6 animate-box">
              <div class="progress-wrap ftco-animate">
                <h3>Bootstrap</h3>
                <div class="progress">
                  <div class="progress-bar color-1" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                    aria-valuemax="100" style="width:70%">
                    <span>70%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 animate-box">
              <div class="progress-wrap ftco-animate">
                <h3>Java</h3>
                <div class="progress">
                  <div class="progress-bar color-2" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                    aria-valuemax="100" style="width:75%">
                    <span>60%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 animate-box">
              <div class="progress-wrap ftco-animate">
                <h3>HTML5</h3>
                <div class="progress">
                  <div class="progress-bar color-3" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                    aria-valuemax="100" style="width:75%">
                    <span>75%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 animate-box">
              <div class="progress-wrap ftco-animate">
                <h3>CSS3</h3>
                <div class="progress">
                  <div class="progress-bar color-4" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                    aria-valuemax="100" style="width:70%">
                    <span>70%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 animate-box">
              <div class="progress-wrap ftco-animate">
                <h3>Github</h3>
                <div class="progress">
                  <div class="progress-bar color-5" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                    aria-valuemax="100" style="width:70%">
                    <span>70%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 animate-box">
              <div class="progress-wrap ftco-animate">
                <h3>JQuery</h3>
                <div class="progress">
                  <div class="progress-bar color-6" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                    aria-valuemax="100" style="width:70%">
                    <span>60%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
