<div class="default-layout">
  <header class="p-2">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a routerLink="/home" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <img class="img-logo" src="assets/logo/logo.png" alt="Logo">
        </a>

        <ul class="nav col-6 col-lg-auto me-lg-auto justify-content-center mb-md-0 breadcrumb">
          <li>
            <a routerLink="/home" class="nav-link px-2">
              <h4 class="mb-0 navbar-brand">Demo</h4>
            </a>
          </li>
        </ul>
        <div class="btn-group me-3 nav-item" *ngFor="let item of navItems">
          <a routerLink="{{item.url}}" class="nav-link px-1">
            <h5 class="mb-0 text-dark">{{item.name}}</h5>
            <div class="underline"></div>

          </a>
        </div>
        <h4 class="moment mb-0 me-3">{{now}}</h4>
      </div>
    </div>
  </header>

  <content>
    <div class="container">
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </content>

  <footer class="py-3 border-top">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <h6 class="mb-0"> Copyright © 2024
            <a href="javascript:;" style="color: #20a8d8; text-decoration: none; background-color: transparent;">

            </a> All rights reserved
          </h6>
        </div>
        <h6 class="mb-0">Powered by Demo</h6>
      </div>
    </div>
  </footer>
</div>
