.container p {
  margin-right: 10px;
}

.custom-col {
  min-width: 350px;
}

.card {
  margin-bottom: 0px;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: #4a4a4a;
}
#employeeID,
#assignedEmployeeID {
  text-transform: uppercase;
}
