<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <app-inventory-options (checkOption)="checkOption($event)" [optonsBuilding]="optonsBuilding">
                </app-inventory-options>
                <div class="row mt-5 building">
                  <div class="col-lg-6 col-md-12 table-responsive">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td colspan="2" class="text-center">
                            <h1>{{'inventory.building' | translate }}</h1>
                          </td>
                        </tr>
                        <div class="row table-building">
                          <div class="col-6" *ngFor="let item of listBuilding">
                            <button class=" btn btn-success btn-flat"
                              (click)="reditToLine(item)">{{item.buildingName}}</button>
                          </div>
                        </div>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-lg-6 col-md-12 table-responsive">
                    <table class="table table-bordered ">
                      <tbody>
                        <tr>
                          <td colspan="2" class="text-center">
                            <h1>{{'inventory.orther' | translate }}</h1>
                          </td>
                        </tr>
                        <div class="row table-building">
                          <div class="col-6" *ngFor="let item of listBuildingOrther">
                            <button class=" btn btn-success btn-flat"
                              (click)="reditToLine(item)">{{item.cellCode}}-{{item.cellName}}</button>
                          </div>
                        </div>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>