<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <form class="card form-horizontal needs-validation"
            #addProgramForm="ngForm"
            autocomplete="off">
        <div class="form-horizontal">
          <div class="card-header">
            <div class="row border-title">
              <div class="col-md-12">
                <strong class="title-card-cs">
                  {{ title }} - {{ "System.Action." + formType | translate }}
                </strong>
                <!-- Button Back -->
                <button type="button"
                        class="btn btn-sm btn-primary float-right"
                        (click)="back()">
                  <i class="fa fa-chevron-left"></i>
                  {{'System.Action.Back' | translate}}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row border rounded">
            <div class="row align-items-center">
              <!-- Division -->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="form-group row align-items-center">
                  <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                    {{"EmployeeInformationModule.ResignationManagement.Division" | translate}}
                    <span class="text-danger text-bold">*</span>
                  </label>
                  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8"
                       [ngClass]="{'invalid-data': functionUtility.checkEmpty(data.division)}">
                    <ng-select name="division"
                               [(ngModel)]="data.division"
                               (clear)="deleteProperty('division')"
                               [clearable]="data.division !== ''"
                               [disabled]="this.formType == 'Edit' || this.formType == 'Query'"
                               (ngModelChange)="onDivisionChange()"
                               placeholder='{{"EmployeeInformationModule.ResignationManagement.Division" | translate}}'>
                      <ng-option *ngFor="let i of listDivision"
                                 [value]="i.key">{{i.value}}</ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
              <!-- Factory -->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="form-group row align-items-center">
                  <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                    {{"EmployeeInformationModule.ResignationManagement.Factory" | translate}}
                    <span class="text-danger text-bold">*</span>
                  </label>
                  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8"
                       [ngClass]="{'invalid-data': functionUtility.checkEmpty(data.factory) && data.division}">
                    <ng-select name="factory"
                               [(ngModel)]="data.factory"
                               (ngModelChange)="onChange()"
                               (clear)="deleteProperty('factory')"
                               [clearable]="data.factory !== ''"
                               [disabled]="this.formType == 'Edit' || this.formType == 'Query' || !data.division"
                               placeholder='{{"EmployeeInformationModule.ResignationManagement.Factory" | translate}}'>
                      <ng-option *ngFor="let i of listFactory"
                                 [value]="i.key">{{i.value}}</ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
              <!-- Nationality -->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="form-group row align-items-center">
                  <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                    {{"EmployeeInformationModule.ResignationManagement.Nationality" | translate}}
                  </label>
                  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                    <input type="text"
                           [(ngModel)]="data.nationality"
                           class="form-control"
                           maxlength="10"
                           name="nationality"
                           placeholder="{{'EmployeeInformationModule.ResignationManagement.Nationality' | translate}}"
                           disabled />
                  </div>
                </div>
              </div>
              <!-- Identification Number -->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="form-group row align-items-center">
                  <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                    {{"EmployeeInformationModule.ResignationManagement.IdentificationNumber" | translate}}
                  </label>
                  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                    <input type="text"
                           [(ngModel)]="data.identification_Number"
                           class="form-control"
                           maxlength="50"
                           name="identification_Number"
                           disabled
                           placeholder="{{'EmployeeInformationModule.ResignationManagement.IdentificationNumber' | translate}}" />
                  </div>
                </div>
              </div>
              <!-- EmployeeID -->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="form-group row align-items-center">
                  <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                    {{"EmployeeInformationModule.ResignationManagement.EmployeeID" | translate}}
                    <span class="text-danger text-bold">*</span>
                  </label>
                  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8"
                       [ngClass]="{'invalid-data': functionUtility.checkEmpty(data.employee_ID)}">
                    <input type="text"
                           [(ngModel)]="data.employee_ID"
                           class="form-control"
                           maxlength="9"
                           name="employee_ID"
                           [disabled]="this.formType == 'Edit' || this.formType == 'Query'"
                           [typeahead]="employee_ID"
                           typeaheadScrollable="true"
                           placeholder="{{'EmployeeInformationModule.ResignationManagement.EmployeeID' | translate}}"
                           (ngModelChange)="onChange()"
                           (typeaheadOnSelect)="onTypehead($event)" />
                  </div>
                </div>
              </div>
              <!-- Local Full Name -->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="form-group row align-items-center">
                  <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                    {{"EmployeeInformationModule.ResignationManagement.LocalFullName" | translate}}
                  </label>
                  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                    <input type="text"
                           [(ngModel)]="data.local_Full_Name"
                           class="form-control"
                           maxlength="50"
                           name="local_Full_Name"
                           disabled
                           placeholder="{{'EmployeeInformationModule.ResignationManagement.LocalFullName' | translate}}" />
                  </div>
                </div>
              </div>
              <!-- Date of Resignation -->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="form-group row align-items-center">
                  <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                    {{ "EmployeeInformationModule.ResignationManagement.DateofResignation" | translate }}
                    <span class="text-danger">*</span>
                  </label>
                  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8"
                       [ngClass]="{'invalid-data': functionUtility.checkEmpty(data.resign_Date)}">
                    <div class="input-group mr-1">
                      <input type="text"
                             (keydown)="onDateInputKeyDown($event,'resign_Date')"
                             onkeypress="return false;"
                             onpaste="return false;"
                             [(ngModel)]="data.resign_Date"
                             [bsConfig]="bsConfig"
                             [disabled]="this.formType == 'Query'"
                             placeholder="YYYY/MM/DD"
                             class="form-control"
                             id="resign_Date"
                             name="resign_Date"
                             bsDatepicker />
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="{{iconButton.CALENDAR}}"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Onboard Date -->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="form-group row align-items-center">
                  <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                    {{"EmployeeInformationModule.ResignationManagement.OnboardDate" | translate}}
                  </label>
                  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                    <input type="text"
                           [(ngModel)]="data.onboard_Date"
                           class="form-control"
                           name="onboard_Date"
                           disabled
                           placeholder="{{'EmployeeInformationModule.ResignationManagement.OnboardDate' | translate }}" />
                  </div>
                </div>
              </div>
              <!-- Resignation Type -->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="form-group row align-items-center">
                  <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                    {{"EmployeeInformationModule.ResignationManagement.ResignationType" | translate}}
                    <span class="text-danger">*</span>
                  </label>
                  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8"
                       [ngClass]="{'invalid-data': functionUtility.checkEmpty(data.resignation_Type)}">
                    <ng-select name="resignation_Type"
                               [(ngModel)]="data.resignation_Type"
                               (clear)="deleteProperty('resignation_Type')"
                               [clearable]="data.resignation_Type !== ''"
                               (ngModelChange)="onResignationTypeChange()"
                               placeholder='{{"EmployeeInformationModule.ResignationManagement.ResignationType" | translate}}'
                               [disabled]="this.formType == 'Query'">
                      <ng-option *ngFor="let i of listResignationType"
                                 [value]="i.key">{{i.value}}</ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
              <!-- Reason for Resignation -->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="form-group row align-items-center">
                  <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                    {{"EmployeeInformationModule.ResignationManagement.ReasonforResignation" | translate}}
                    <span class="text-danger">*</span>
                  </label>
                  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8"
                       [ngClass]="{'invalid-data': functionUtility.checkEmpty(data.resign_Reason) && data.resignation_Type}">
                    <ng-select name="resign_Reason"
                               [(ngModel)]="data.resign_Reason"
                               (clear)="deleteProperty('resign_Reason')"
                               [clearable]="data.resign_Reason !== ''"
                               placeholder='{{"EmployeeInformationModule.ResignationManagement.ReasonforResignation" | translate}}'
                               [disabled]="this.formType == 'Query' || !data.resignation_Type">
                      <ng-option *ngFor="let i of listResignReason"
                                 [value]="i.key">{{i.value}}</ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
              <!-- Remark -->
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="form-group row align-items-center">
                  <label class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-form-label">
                    {{"EmployeeInformationModule.ResignationManagement.Remarks" | translate}}
                  </label>
                  <div class="col-xl-10 col-lg-8 col-md-8 col-sm-8">
                    <input type="text"
                           [(ngModel)]="data.remark"
                           class="form-control"
                           maxlength="255"
                           name="remark"
                           placeholder="{{'EmployeeInformationModule.ResignationManagement.Remarks' | translate}}"
                           [disabled]="this.formType == 'Query'" />
                  </div>
                </div>
              </div>
              <!-- Blacklist -->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="form-group row align-items-center">
                  <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">{{
                    "EmployeeInformationModule.ResignationManagement.Blacklist" | translate }}
                  </label>
                  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input"
                             type="checkbox"
                             id="customCheckbox"
                             name="example"
                             [(ngModel)]="data.blacklist"
                             (ngModelChange)="onBlacklistChange()"
                             [disabled]="this.formType == 'Query'">
                      <label class="custom-control-label"
                             for="customCheckbox">
                        {{"EmployeeInformationModule.ResignationManagement.Blacklist" | translate }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Verifier -->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="form-group row align-items-center">
                  <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                    {{"EmployeeInformationModule.ResignationManagement.Verifier" | translate}}
                    <span class="text-danger"
                          *ngIf="data.blacklist == true">*</span>
                  </label>
                  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8"
                       [ngClass]="{'invalid-data': functionUtility.checkEmpty(data.verifier) && data.blacklist}">
                    <input type="text"
                           [(ngModel)]="data.verifier"
                           class="form-control"
                           maxlength="9"
                           name="verifier"
                           id="verifier"
                           (ngModelChange)="onVerifierChange()"
                           [disabled]="data.blacklist != true || this.formType == 'Query'"
                           [typeahead]="employee_ID"
                           typeaheadScrollable="true"
                           placeholder="{{'EmployeeInformationModule.ResignationManagement.Verifier' | translate}}" />
                  </div>
                </div>
              </div>
              <!-- Verifier Name -->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="form-group row align-items-center">
                  <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                    {{"EmployeeInformationModule.ResignationManagement.VerifierName" | translate}}
                  </label>
                  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                    <input type="text"
                           [(ngModel)]="data.verifier_Name"
                           class="form-control"
                           maxlength="50"
                           name="verifier_Name"
                           disabled
                           placeholder="{{'EmployeeInformationModule.ResignationManagement.VerifierName' | translate}}" />
                  </div>
                </div>
              </div>
              <!-- Verifier Title -->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="form-group row align-items-center">
                  <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                    {{"EmployeeInformationModule.ResignationManagement.VerifierTitle" | translate}}
                  </label>
                  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                    <input type="text"
                           [(ngModel)]="data.verifier_Title"
                           class="form-control"
                           maxlength="10"
                           name="verifier_Title"
                           disabled
                           placeholder="{{'EmployeeInformationModule.ResignationManagement.VerifierTitle' | translate}}" />
                  </div>
                </div>
              </div>
              <!-- Update By -->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="form-group row align-items-center">
                  <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                    {{"EmployeeInformationModule.ResignationManagement.UpdateBy" | translate}}
                  </label>
                  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                    <input type="text"
                           [(ngModel)]="data.update_By"
                           class="form-control"
                           maxlength="20"
                           name="update_By"
                           placeholder="{{'EmployeeInformationModule.ResignationManagement.UpdateBy' | translate}}"
                           disabled />
                  </div>
                </div>
              </div>
              <!-- Update Time -->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="form-group row align-items-center">
                  <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                    {{"EmployeeInformationModule.ResignationManagement.UpdateTime" | translate}}
                  </label>
                  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                    <input type="text"
                           [(ngModel)]="data.update_Time"
                           class="form-control"
                           name="update_Time"
                           placeholder="{{'EmployeeInformationModule.ResignationManagement.UpdateTime' | translate}}"
                           disabled />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-md-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="table-responsive text-right">
                <button *ngIf="this.formType != 'Query'"
                        type="submit"
                        class="btn btn-success"
                        (click)="save()"
                        [disabled]="checkEmpty()">
                  <i class="{{ iconButton.SUBMIT }}"></i> {{'System.Action.Save' | translate}}
                </button>
                <button type="button"
                        class="btn btn-danger ml-2"
                        (click)="back()">
                  <i class="{{ iconButton.CLOSE }}"></i> {{'System.Action.Close' | translate}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
